/* Centralizar o body e o formulário na tela */
.login-body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

/* Formulário de login */
#login-admin {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#login-admin .contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#login-admin .form-field {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#login-admin .form-label {
  font-size: 1.6rem;
  color: #333;
  font-family: Arial, sans-serif;
}

#login-admin .form-input {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  color: #333;
  background-color: #f8f9fa;
  width: 100%;
}

#login-admin .form-submit {
  display: flex;
  justify-content: flex-start;
}

#login-admin .main-button {
  display: block;
  width: 100%;
  padding: 1rem;
  background: #6ab090;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#login-admin .main-button:hover {
  background: #5a9b7c;
}
