.main-backToTop {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1.6rem;
  bottom: 1.6rem;

  padding: 1rem;
  clip-path: circle();

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(200%);
}

.main-backToTop.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
