.main-testimonials {
  background-color: white;
}

.main-testimonials .main-container {
  margin-inline: 0;
}

.main-testimonials .header {
  margin-inline: 2.4rem;
  margin-bottom: 0;
}

.main-testimonials .main-title {
  margin-bottom: 0;
}

.main-testimonials .testimonials {
  height: auto;
  padding: 6.4rem 1.6rem;
}

.main-testimonials .swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
}

.main-testimonials .swiper-pagination-bullet-active {
  background-color: var(--base-color);
}

@media (min-width: 1200px) {
  .main-testimonials .header {
    max-width: 52rem;
    text-align: center;
    margin-inline: auto;
  }

  .main-testimonials .main-container {
    margin-inline: auto;
  }
}
