.main-header {
  border-bottom: 0.1rem solid #e4e4e4;
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: var(--body-color);
}

.main-header.scroll {
  box-shadow: 0rem 0rem 1.2rem rgba(0, 0, 0, 0.15);
}
