.main-about {
  background-color: white;
}

.main-about .main-container {
  margin: 0;
}

.main-about .main-image::before {
  top: -8.3%;
  left: -33%;
}

.main-about .text {
  margin-inline: 2.4rem;
}

@media (min-width: 1200px) {
  .main-about .main-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 6.4rem;
    max-width: none;
    margin: 0;
  }

  .main-about .text,
  .main-about .main-image {
    max-width: 61rem;
  }

  .main-about .text {
    margin-left: 0;
    margin-right: auto;
  }
}
